.dens-form__field {
    display: grid;
    grid-template-columns: 100px 200px;
    padding: .5em;

}


.dens-form__radio {
    display: grid;
    grid-template-columns: 150px 30px;
    padding: .5em;
}

.visc-form__field {
    display: grid;
    grid-template-columns: 100px 200px;
    padding: .5em;

}